<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Data -->
    <meta charset="UTF-8" />
    <meta name="author" content="Mahmoud Mheisen" />
    <meta name="description" content="FCC Course 5 Project 3" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- CSS Links -->
    <link type="text/css" rel="stylesheet" href="style.css" />

    <!-- Title -->
    <title>URL Shortener Microservice</title>

    <!-- Icon -->
    <link
      type="image/x-icon"
      rel="shortcut icon"
      href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
    />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <strong>URL Shortener Microservice</strong>
      is a RESTful API that allow the client to shorten a URL, the server will
      direct to the original link, done for
      <strong>FreeCodeCamp APIs and Microservices Course, Project 3</strong>
    </header>

    <form method="POST" action="/api/shorturl/new" class="container">
      <label for="url_link"
        >Enter URL:<code> POST /api/shorturl/new</code></label
      >
      <br />
      <input
        type="text"
        id="url_link"
        name="url_link"
        placeholder="eg. https://www.freecodecamp.org"
      /><br />
      <input id="submit-url" type="submit" value="POST URL" />
    </form>

    <div class="center">
      <h3>Usage:</h3>
      <p>
        <strong>POST URL: </strong><code>POST /api/shorturl/new</code>
        {"original_url": "www.google.com", "short_url": 1}
      </p>
      <p><strong>GET All URLs: </strong><code>GET /api/shorturl/urls</code></p>
      <p>
        <strong>GET Short URL: </strong
        ><code>GET /api/shorturl/[&amp;index]</code>
      </p>
      <p><strong>[ ]</strong> = required</p>
    </div>

    <footer>
      &copy; 2020 Mahmoud Mheisen
    </footer>
  </body>
</html>
